# Ignore everything.  Whitelist what is necessary.
/*
/*/

#Git meta files
!.gitignore
!.gitattributes
!README.md

#Add Unity project directory, but remove all its contents.
!/HexGrids
/HexGrids/*

#Add back the necessary content folders.
!/HexGrids/ProjectSettings/
!/HexGrids/Assets/
